# Python specific
*.pyc
*.pyo
__pycache__/
venv/
.env/
.venv/

# IDE settings
.idea/
.vscode/

# macOS specific
.DS_Store

# Logs
*.log

# Build directories
build/
dist/
*.egg-info/

# Database files
*.db
*.sqlite
*.sqlite3

# Docker related
.docker/

# Ignore common system directories
NetHood/
PrintHood/
Recent/
SendTo/
Start Menu/
Templates/
# Ignore system files and directories
.anaconda/
.android/
.arduinoIDE/
.astro/
.bash_history
.cache/
.conda/
.condarc
.continuum/
.docker/
.dockerignore
.dotnet/
.eclipse/
.emulator_console_auth_token
.file_versions/
.gitconfig
.gradle/
.idlerc/
.ipynb_checkpoints/
.ipython/
.jupyter/
.keras/
.lesshst
.mage_data/
.matplotlib/
.nbi/
.openshot_qt/
.p2/
.spyder-py3/
.ssh_tunnel/
.viminfo
.vscode/
AndroidStudioProjects/
AppData/
Desktop/
Downloads/
Dropbox/
Favorites/
Music/
OneDrive/
PyCharmMiscProject.iml
PyCharmMiscProject/

